body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #11999E;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;

}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;

}

a {
  color: #11999E;
  padding: 20px;

}

hr{
  border-style: none;
  border-top: dotted;
  border-color: gray;
  border-width: 8px;
  width: 7%;
}

.BUTTON_DSF {
  margin:20px auto 20px auto;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   background-color: #66BFBF;
   -webkit-box-shadow: 1px 1px 10px 0 #000000;
   -moz-box-shadow: 1px 1px 10px 0 #000000;
   box-shadow: 1px 1px 10px 0 #000000;
   text-shadow: 1px 1px 10px ;
   border: solid #66BFBF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_DSF:hover {
   background: #EEF1F5;
   border: solid #FFFFFF 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
/**************CLASS SELECTOR************/
.pro {
  text-decoration: underline;
}

.top-container {
  background-color: #e4f9f5;
  padding: 100px;
}

  .middle-container {
    background-color: #e4f9f5;
    padding: 100px;
  }

    .bottom-container {
      background-color: #66BFBF;
      padding: 100px;
    }

    .top-cloud {
      position: absolute;
      right: 200px;
      top: 50px;
    }

    .bottom-cloud {
      position: absolute;
      left: 200px;
      bottom: 300px;
    }

    .svitlana-img {
      width: 150px;
      height: 150px;
    }

    .baking-img {
      width: 35%;
      float: right;
      margin-left: 20px;
    }

    .coding-img {
      width: 25%;
      float: left;
      margin-right: 20px;
    }

    .skill-row {
      margin: 100px auto 100px auto;
      width: 50%;
      text-align: left;
      line-height: 2;
}

.bird-img{
width: 50px;
height: 50px;
position: absolute;
right: 200px;
}

.birds-img{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 30px;
}

.sl{
  color: white;
}
